<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/img/favicon/favicon-16x16.png">
  <link rel="manifest" href="{{ site.baseurl }}/img/favicon/site.webmanifest">
  
  {% seo %}


  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ '/feed.xml' | relative_url }}">

  <!-- Google Font -->
  <link
      rel="preload"
      href="https://fonts.googleapis.com/css?family=Nunito:400,700"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
  />
  <noscript>
      <link
          href="https://fonts.googleapis.com/css?family=Nunito:400,700"
          rel="stylesheet"
          type="text/css"
      />
  </noscript>
  <!-- Ionicons -->
  <link
      rel="preload"
      href="https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
  />
  <noscript>
      <link
          href="https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css"
          rel="stylesheet"
          type="text/css"
      />
  </noscript>



  <style>
  {% capture include_to_scssify %}
    {% include main.scss %}
  {% endcapture %}
  {{ include_to_scssify | scssify }}
  </style>
</head>
